<!DOCTYPE html>
<html>
<head>
    <title>Login - Sistema Médico</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="login-body">

<div class="login-box">

    <div class="login-header">
        🏥 Sistema Clínico
    </div>

    <form method="POST">

        <div class="input-group">
            <label>Usuario</label>
            <input type="text" name="usuario" required>
        </div>

        <div class="input-group">
            <label>Contraseña</label>
            <input type="password" name="password" required>
        </div>

        <button class="btn-login">Ingresar</button>

    </form>

    <p class="footer">© Sistema Médico 2026</p>

</div>

</body>
</html>