<!DOCTYPE html>
<html>
<head>
    <title>Login - Sistema Clínico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="login-body">

<div class="login-container">

    <div class="login-card">

        <h2>🏥 Sistema Clínico</h2>

        <form method="POST">

            <input type="text" name="usuario" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>

            <button>Ingresar</button>

        </form>

    </div>

</div>

</body>
</html>